.item_coments {
    width: 100%; 
    margin: 0 auto;
    min-height: 350px;
    border-radius: 20px;
    border-right: 1px solid rgba(129, 122, 122, 0.159);
    border-left: 1px solid rgba(129, 122, 122, 0.159);
    box-shadow: 0px 5px 10px 2px rgba(3, 2, 2, 0.349);
    padding: 30px;
    .item_coments__title {
        display: flex;
        justify-content: space-between;
        h3 {
            font-weight: 500;
        }
        span {
            line-height: 25px;
        }
    }
    .item_coments__list {
        list-style: none;
        padding-top: 10px;
        .coments__list__parent {
            display: block;
            border-radius: 10px;
            width: 100%;
            word-wrap: break-word;
            min-height: 80px;
            font-size: 14px;
            background-color: rgba(21, 35, 57, 0.464);
            margin-bottom: 15px;
            padding: 5px;
            .list_parent__text {
                margin: 10px 0px;
                line-height: 22px;
                margin-left: 10px;

            }
        }
    }
}

.no_coments {
    text-align: center;
    margin-top: 110px;
    font-weight: 500;
    font-size: 18px;
}