@media(max-width: 900px) {
    .item_coments {
        padding: 20px 10px;
        margin-bottom: 20px;
        width: 100%;
    }
}

@media(max-width: 500px) {
    .item_coments {
        padding: 20px 5px;
        .item_coments__title {
            font-size: 16px;
        }
    }
}