.footer {
    width: 100%;
    height: 80px;
    font-size: 13px;
    padding: 0px 30px;
    background-color: rgb(31,41,55);
    color: white;
    display: flex;
    justify-content: space-between;
    .footer__copyright {
        line-height: 40px;
        margin-top: 20px;
    }
    .footer__contacts {
        margin-top: 10px;
        line-height: 18px;
        a {
            text-decoration: none;
            color: rgb(148, 148, 148);
        }
    }
}
